<div class="profile-card">
  <div class="avatar-name">
    <img ngSrc="/baseAvatar.png" alt="avatar" class="card-avatar" height="72" width="71">
    <div class="name-container">
      <strong class="name">Dmitry Kelek</strong>
      <span>&#64;kelek</span>
    </div>
  </div>
  <div class="description">
    <span>
      Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать
      о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
    </span>
  </div>
  <div class="tags-container">
    <div class="tag-container">
      <span>JS</span>
    </div>
    <div class="tag-container">
      <span>TS</span>
    </div>
    <div class="tag-container">
      <span>CSS</span>
    </div>
    <div class="tag-container">
      <span>Angular</span>
    </div>
    <div class="tag-container">
      <span>React</span>
    </div>
  </div>
  <div class="actions-container">
    <button class="base-button">Follow</button>
  </div>
</div>
