.follower {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 0;
}

.follower-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.follower-avatar {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}
