.sidebar {
  height: 100vh;
  padding: 20px 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--dark-color);
}

.logo {
  width: 61px;
  height: 74px;
  margin-left: 28px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;

  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s;

  & > span {
    transition: 0.3s;
  }

  &:hover {
    background-color: var(--dark-color-opacity);
    cursor: pointer;

    & > span {
      color: var(--primary);
    }

    & > svg {
      color: var(--primary);
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  transition: 0.3s;

  color: var(--light-color);
}

.followers-container {
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.followers-label {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.75;

  color: var(--light-color);
}

.all-button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  display: flex;
  align-items: center;
  gap: 11px;

  color: var(--primary);
  cursor: pointer;
}

.chevron-icon {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.rightIcon {
  width: 14px;
  height: 14px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--primary);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;
  padding: 0 15px;

  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-color-opacity);
  }
}
